.container {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  min-height: 100vh;

  background: #FFF;
  display: flex;
  justify-content: center;
  padding: 40px 0 80px;
}

.content {
  background: #fff;
  max-width: 1080px;
  width: 100%;
  position: relative;

  border-radius: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 48px;

  a.pdf {
    position: absolute;
    top: 360px;
    right: 12px;

    background: var(--blue);
    color: #fff;
    padding: 4px 12px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    column-gap: 4px;

    cursor: pointer;
  }
}

.cover {
  display: block;
  width: 100%;
  height: 400px;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
  }
}

.content__info {
  width: 100%;
  margin-top: -72px;
  padding: 0 64px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 24px;

  > h2 {
    font-size: 22px;
    text-transform: capitalize;
    
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
  }

  > h3 {
    display: flex;
    align-items: center;
    column-gap: 4px;

    font-size: 24px;
    margin-top: 8px;
  }

  > ul {
    // list-style: none;
    padding-left: 24px;

    li {
      font-size: 18px;
      line-height: 1.8;
    }
  }

  header {
    display: flex;
    align-items: flex-end;
    column-gap: 20px;

    img {
      width: 140px;
      height: 180px;
      object-fit: cover;
      object-position: top;
      border-radius: 20px;

      border: 4px solid #fff;
      box-shadow: rgba(149, 157, 165, 0.3) 1px 1px 5px;
    }

    aside {
      display: flex;
      align-items: center;
      column-gap: 6px;
      margin-bottom: 6px;

      a {
        color: #333;
      }
    }

    > div {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 6px;

      div {
        display: flex;
        column-gap: 4px;

        span {
          background: #999;
          padding: 3px 6px;
          border-radius: 2px;
          color: #fff;
          font-size: 24px;
        }
      }

      h1 {
        font-size: 32px;
        text-transform: capitalize;
      }
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  > span, > a {
    display: flex;
    align-items: center;
    column-gap: 8px;

    font-size: 18px;
    color: #555;

    background: var(--background-secondary);
    padding: 8px 18px 8px 12px;
    border-radius: 20px;
  }
}

.receipts {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  .receipt {
    display: flex;
    align-items: center;
    column-gap: 8px;

    > span {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background: rgba(149, 157, 165, 0.08);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div {
      display: flex;
      flex-direction: column;

      strong {
        font-size: 15px;
      }

      p {
        font-size: 17px;
      }
    }
  }
}