.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;

  margin-top: 5vh;

  svg {
    width: 280px;
    height: auto;

    opacity: 0.8;
  }

  h1, h2 {
    text-align: center;
  }

  h2 {
    margin-top: 12px;

    font-size: 22px;
    line-height: 1.4;
    font-weight: 500;
    color: var(--text-secondary);
  }

  a {
    margin-top: 8px;

    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;

    padding: 8px 32px;
    border-radius: 8px;
    background-color: var(--blue);

    transition: all 0.4s;

    &:hover {
      filter: brightness(0.92);
    }
  }
}