.profile {
  width: 350px;
  padding: 0 0 32px;

  .cover {
    width: 100%;
    height: 200px;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.profile__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;

  margin-top: -84px;

  text-align: center;

  img {
    width: 140px;
    height: 180px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;

    border: 4px solid #fff;
  }

  .code {
    display: flex;
    column-gap: 4px;

    span {
      background: #999;
      padding: 3px 6px;
      border-radius: 2px;
      color: #fff;
      font-size: 24px;
    }
  }

  h1 {
    font-size: 30px;
    letter-spacing: -0.5px;
    padding: 0 8px;
    text-transform: capitalize;
  }

  p.description {
    font-size: 16px;
    line-height: 1.6;
    padding: 0 16px;

    i {
      font-weight: 500;
      color: var(--blue);
      
      &:not(:first-child) {
        text-transform: capitalize;
      }
    }
  }

  aside {
    display: flex;
    align-items: center;
    column-gap: 8px;


    a {
      color: var(--text);
    }
  }

  > a {
    margin: 8px 0;

    width: 270px;
    padding: 10px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background-color: #fc364f;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    
  }
}
