.container { 
  display: flex;
  flex-direction: row-reverse;
  column-gap: 32px;

  h1 {
    margin-bottom: 16px;
  }
}

.content {
  flex: 1;
}

.filter {
  display: flex;
  align-items: center;
  column-gap: 16px;

  margin-bottom: 16px;
}

.candidates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.candidate {
  display: flex;
  align-items: center;
  column-gap: 12px;

  padding: 8px 16px;
  border-radius: 4px;

  .info {
    strong, p {
      line-height: 1;
      display: block;
    }

    
    strong {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 2px;
    }

    p {
      color: var(--text-secondary);
      font-size: 12px;
    }
  }

  .code {
    display: flex;
    column-gap: 4px;

    margin-left: auto;

    span {
      background: #519548;
      padding: 3px 6px;
      border-radius: 2px;
      color: #fff;
      font-size: 18px;
    }
  }
}