.empty {
  font-size: 16px;
  color: var(--text-secondary);
  font-weight: 500;
  padding-left: 2px;

  margin-top: -6px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  margin-left: 8px;
  padding-left: 24px;
  padding-bottom: 32px;

  position: relative;

  border-left: 1px solid rgba(0, 0, 0, 0.2);

  &::before, &::after {
    content: '';
    width: 10px;

    position: absolute;
    left: -9px;
  }

  &::before {
    height: 10px;
    border: 4px solid #fff;
    border-radius: 100%;
    background: var(--text-secondary);

    top: 4px;
  }

  &::after {
    height: 6px;
    background: #fff;
    top: -2px;
  }

  display: flex;
  align-items: center;
  column-gap: 16px;

  img {
    width: 40px;
    height: auto;
  }

  div {
    display: flex;
    flex-direction: column;

    strong {
      font-size: 18px;
      font-weight: 600;

      span {
        text-transform: capitalize;
      }
    }
  
    p {
      font-size: 15px;
      color: var(--text-secondary);
    }
  }

  > span {
    margin-left: auto;
    padding: 4px 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    
    &.success {
      background-color: rgba(81, 149, 72, 0.8);
    }

    &.fail {
      background-color: rgba(237, 28, 37, 0.8);
    }

    &.partial {
      background-color: rgba(145, 149, 72, 0.8);
    }
  }

  @media(max-width: 650px) {
    margin-left: 8px;
    padding-left: 16px;
    padding-bottom: 24px;

    flex-direction: column-reverse;
    align-items: flex-start;
    row-gap: 6px;

    div {
      strong {
        font-size: 15px;
      }
    
      p {
        font-size: 14px;
      }
    }

    > span {
      margin-left: 0;
      padding: 4px 8px;
    }
  }
}
