.filter {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  button {
    display: flex;
    align-items: center;
    column-gap: 12px;

    border: 0;
    height: 40px;
    border-radius: 2px;
    padding: 0 6px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;

    transition: all 0.4s;

    p, span {
      font-size: 14px;
      text-align: left;
      line-height: 1.2;
    }

    span {
      margin-left: auto;
    }

    &[aria-pressed="false"] {
      filter: grayscale(1);
      opacity: 0.4;
    }

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}