.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  margin-top: 54px;

  fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    label {
      font-size: 14px;
    }
  }

  button {
    padding: 8px 24px;
    border-radius: 6px;
    color: #fff;
    background-color: var(--blue);
  }
}
