.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  flex: 1;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  img {
    width: 250px;
    height: auto;
  }

  h1 {
    text-align: center;
    max-width: 500px;
    width: 100%;

    margin: 40px 0 48px;
  }

  a {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;

    padding: 8px 32px;
    border-radius: 8px;
    background-color: var(--blue);

    transition: all 0.4s;

    &:hover {
      filter: brightness(0.92);
    }
  }

  @media(max-width: 600px) {
    margin-top: 12vh;
    padding: 0 32px;

    h1 {
      font-size: 24px;
    }
  
    a {
      font-size: 18px;
  
      padding: 8px 32px;
      border-radius: 8px;
    }
  }
}