.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  > main {
    width: 100%;
    max-width: 1366px;
  }
}

.header {
  width: 100%;
  background-color: #fff;
  box-shadow: var(--shadow-border);

  margin-bottom: 32px;

  @media(max-width: 650px) {
    margin-bottom: 16px;
  }
}

.header__content {
  width: 100%;
  max-width: 1366px;
  margin: 12px auto;

  display: flex;
  align-items: center;

  h1 {
    font-size: 30px;

    flex: 1;
    text-align: center;
    padding-right: 72px;

    span {
      color: var(--blue);
      text-transform: capitalize;
    }
  }

  a {
    margin: 0 auto;

    img {
      height: 50px;
      width: auto;
    }
  }

  @media(max-width: 1400px) {
    padding: 0 24px;
  }

  @media(max-width: 1000px) {
    flex-direction: row-reverse;

    h1 {
      display: flex;
      flex-wrap: wrap;

      column-gap: 8px;
      padding-right: 0;

      font-size: 26px;
    }
  }

  @media(max-width: 650px) {
    padding: 0 16px;

    h1 {
      font-size: 20px;
      line-height: 1.2;
    }

    a img {
      height: 44px;
    }
  }
}