.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  p {
    line-height: 1.6;
    color: var(--text-secondary);
    font-size: 13px;
  }

  > div {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }

  @media(max-width: 650px) {
    p {
      width: 90px;
      font-size: 11px;
      text-align: right;
    }

    > div svg {
      width: 14px;
      height: auto;
    }
  }
}