.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  p {
    line-height: 1.6;
    color: var(--text-secondary);
    font-size: 13px;
  }

  > div {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }
}