.container {
  flex: 1;

  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @media(max-width: 1000px) {
    width: 100%;
  }
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  h2 {
    display: flex;
    align-items: center;
    column-gap: 6px;

    font-size: 22px;
    font-weight: 500;

    @media(max-width: 768px) {
      font-size: 20px;
    }
  }

  .candidates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  
    @media(min-width: 1079px) {
      &:hover a:not(:hover) {
        filter: grayscale(0.45) opacity(0.65);
      }
    }
  
    @media(max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
}

.candidate {
  display: flex;
  align-items: center;
  column-gap: 12px;

  padding: 12px 16px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2.6px;

  transition: all 0.3s;
  
  .info {
    strong, p {
      line-height: 1;
      display: block;
      text-transform: capitalize;
    }

    
    strong {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 4px;
    }

    p {
      color: var(--text-secondary);
      font-size: 12px;
    }
  }

  .code {
    display: flex;
    column-gap: 4px;

    margin-left: auto;

    span {
      background: var(--green);
      padding: 3px 6px;
      border-radius: 2px;
      color: #fff;
      font-size: 18px;
    }
  }

  @media(max-width: 650px) {
    padding: 12px;

    .info strong {
      font-size: 15px;
      letter-spacing: -0.3px;
    }

    .code {
      column-gap: 3px;
  
      span {
        font-size: 16px;
        padding: 3px 5px;
      }
    }
  }

  @media(max-width: 370px) {
    padding: 10px;

    .info strong {
      font-size: 14px;
    }

    .code {
      span {
        font-size: 15px;
        padding: 3px 4px;
      }
    }

  }
}