.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;

  > span, a {
    display: flex;
    align-items: center;
    column-gap: 8px;

    font-size: 17px;
    color: var(--text-secondary);
    text-transform: capitalize;

    border-radius: 20px;
    padding: 7px 18px 7px 12px;
    background: rgba(0,0,0,0.05);

    @media(max-width: 600px) {
      font-size: 15px;
      padding: 6px 14px 6px 9px;

      span {
        transform: scale(0.9);
      }
    }
  }

  a {
    color: var(--blue);
  }
}