.container {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;

  > label {
    font-size: 24px;
    color: var(--text);
  }

  > div {
    display: flex;
    column-gap: 32px;

    button {
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: -0.03em;
  
      width: 200px;
  
      padding: 0.5em 0;
      background-color: transparent;
      box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.05);
  
      border-radius: 8px;
      border: 2px solid transparent;
  
  
      // outline-color: ${({ theme }) => theme.colors.pink};
      transition: all 0.3s ease;
  
      &:hover {
        cursor: pointer;
        color: var(--blue);
        border: 2px solid var(--blue);
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 48px;

  > label {
    font-size: 24px;
    text-align: center;
    color: var(--text);
  }

  width: 400px;
}

.states {
  svg g:hover path {
    fill: var(--blue);
  }
}