.news {
  list-style: none;

  display: flex;
  align-items: center;
  column-gap: 16px;

  @media(max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
  }
}