.total {
  margin-left: auto;

  padding: 7px 16px;
  border-radius: 20px;
  background: rgba(0,0,0,0.05);

  font-size: 15px;
  font-weight: 500;

  @media(max-width: 650px) {
    font-size: 12px;
    padding: 7px 12px;
  }
}

.empty {
  font-size: 16px;
  color: var(--text-secondary);
  font-weight: 500;
  padding-left: 2px;

  margin-top: -6px;
}

.properties {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  
  width: 100%;

  @media(max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.property {
  display: flex;
  align-items: center;
  column-gap: 12px;

  > span {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: var(--background);
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div {
    display: flex;
    flex-direction: column;
    flex: 1;

    strong {
      font-size: 15px;

      -webkit-line-clamp: 1;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    span {
      font-size: 17px;
    }
  }

  @media(max-width: 650px) {
    > span {
      width: 36px;
      height: 36px;
    }

    div {
      span, strong {
        font-size: 14px;
      }
    }
  }
}

 