.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  column-gap: 32px;

  @media(max-width: 1400px) {
    padding: 0 24px;
  }

  @media(max-width: 768px) {
    flex-direction: column;
    row-gap: 24px;
  }

  @media(max-width: 650px) {
    padding: 0 16px;
  }
}

.profile {
  padding: 0 0 32px;

  .flag {
    width: 100%;
    height: 200px;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;

    margin-top: -84px;

    text-align: center;

    .profile__image {
      width: 140px;
      height: 180px;
      border-radius: 20px;
      border: 4px solid #fff;
      background-color: var(--background);
    }

    .code {
      display: flex;
      column-gap: 4px;
  
      span {
        background: var(--green);
        padding: 3px 6px;
        border-radius: 2px;
        color: #fff;
        font-size: 24px;
      }
    }

    .title {
      width: 200px;
      height: 38px;
    }
    
    .description {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      
      span {
        width: 250px;
        height: 24px;
      }
    }
  }

  @media(max-width: 768px) {
    width: 100%;
  }

  @media(max-width: 650px) {
    padding: 16px;

    .flag {
      display: none;
    }

    > div {
      margin-top: 0;
    }
  }
}

.cards {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 32px;

  > div {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    h2 {
      display: flex;
      align-items: center;
      column-gap: 8px;
  
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 8px;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  span {
    height: 37px;
    border-radius: 20px;
  }

  @media(max-width: 650px) {
    span {
      height: 30px;
    }
  }
}

.property {
  height: 42px;
  width: 100%;
}

.election {
  height: 36px;
  width: 100%;
}