.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media(max-width: 1400px) {
    padding: 0 24px;
  }
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  margin-top: -12px;
}

.content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  column-gap: 32px;

  @media(max-width: 1000px) {
    flex-direction: column;
    row-gap: 32px;
  }

  @media(max-width: 650px) {
    row-gap: 24px;
  }
}

.cards {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 32px;

  > div > h2 {
    display: flex;
    align-items: center;
    column-gap: 8px;

    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  @media(max-width: 650px) {
    row-gap: 24px;

    > div > h2 {
      font-size: 18px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}