.profile {
  width: 350px;
  padding: 0 0 32px;

  .flag {
    width: 100%;
    height: 200px;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media(max-width: 1000px) {
    width: 100%;
    padding: 20px 20px 40px;

    .flag {
      display: none;
    }
  }

  @media(max-width: 650px) {
    padding: 16px;
  }
}

.profile__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;

  margin-top: -84px;

  text-align: center;

  .profile__image {
    width: 140px;
    height: 180px;
    border-radius: 20px;
    border: 4px solid #fff;
    overflow: hidden;

    grid-row: 1 / 5;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .code {
    display: flex;
    column-gap: 4px;

    span {
      background: var(--green);
      padding: 3px 6px;
      border-radius: 2px;
      color: #fff;
      font-size: 24px;
    }
  }

  h1 {
    font-size: 30px;
    letter-spacing: -0.5px;
    padding: 0 8px;
    text-transform: capitalize;
  }

  p.description {
    font-size: 16px;
    line-height: 1.6;
    padding: 0 16px;

    i {
      font-weight: 500;
      color: var(--blue);
      
      &:not(:first-child) {
        text-transform: capitalize;
      }
    }
  }

  aside {
    display: flex;
    align-items: center;
    column-gap: 8px;

    a {
      color: var(--text);
      opacity: 0.7;
      transition: all 0.3s;
      
      &:hover {
        opacity: 1;
        transform: translateY(-5px);
      }
    }
  }

  > a {
    margin: 8px 0;

    width: 270px;
    padding: 10px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background-color: #fc364f;
    
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    
    transition: all 0.3s;
    
    &:hover {
      background-color: #fc3650d7;
    }
    
  }

  @media(max-width: 1000px) {
    margin-top: 0;
    display: grid;
    gap: 0;
    grid-template-columns: 140px 1fr;

    position: relative;

    img {
      border-radius: 12px;
      border: 2px solid var(--background);
    }

    .code {
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 140px;
      justify-content: center;
    }

    h1 {
      font-size: 28px;
      padding: 0;
    }

    p.description {
      margin: 0 auto;
      max-width: 500px;
      width: 100%;
    }
  
    aside {
      margin: 8px 0;
      justify-content: center;
    }
  
    > a {
      grid-row-start: 4;
      margin: 0 auto;
  
      width: auto;
      padding: 6px 16px;
      font-size: 16px;
    }
  }

  @media(max-width: 650px) {
    display: flex;
    row-gap: 8px;

    img {
      border-radius: 12px;
      border: 2px solid var(--background);
    }

    .code {
      position: relative;
      inset: inherit;
      width: 100%;
    }

    p.description {
      font-size: 15px;
      padding: 0;
    }
  
    aside {
      margin: 0;
      justify-content: center;
    }
  
    > a {
      margin: 8px auto;
    }
  }
}
